html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Inter,
    sans-serif;
}

ul {
  padding-left: 1em;
}

input[type="checkbox"] {
  display: inline-blocks;
  margin-right: 10px;
}

a {
  text-decoration: none;
}
